<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>BeeSmart - Settings</title>

    <link href="../static/pure-release-0.6.0/pure-min.css" rel="stylesheet">
    <link href="../static/design.css" rel="stylesheet">
    <link href="../static/design_settings.css" rel="stylesheet">
    <link href="../static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/toastr-2.1.2/toastr.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/react-data-grid.css">

</head>

<body>
    <div class="clearfix borderbox" id="page">

        <div id="Logo">
            <!-- svg -->
            <img class="svg" src="../static/Grafik/beesmart_logo_v00.svg" alt="" />
        </div>

        <nav>
            <ul>
                <li><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li><a href="/graph"><i class="fa fa-area-chart" aria-hidden="true"></i> Graph</a></li>
                <li><a href="/settings"><i class="fa fa-wrench" aria-hidden="true"></i> Settings</a></li>
                <li><a href="/about"><i class="fa fa-info" aria-hidden="true"></i> About</a></li>
                <li><a href="/help"><i class="fa fa-question" aria-hidden="true"></i> Help</a></li>
            </ul>
        </nav>
        <p>Begonnen hat das Projekt im Frühjahr 2016.</p>

        Wir nutzen nur OpenSource Software.
        <p>Programmiersprache: Python 3, JavaScript </p>
        <p>Module: Flask, React, ...
            <p>Editor: Atom.io</p>

            Johannes Maierhofer

            <footer class="footer">
                <p>&copy; Johannes Maierhofer 2016</p>
            </footer>

    </div>
</body>

</html>