<div style="background-color: #76b852; padding-top: 10px; padding-bottom: 10px; min-width: 490px;">
    <div style="color: white;text-decoration: none;padding-top: 20px;padding-bottom: 20px;">    
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">            
        <div style="min-width: 310px; position:relative;z-index: 1;background: #FFFFFF;max-width: 360px;margin: auto;padding: 45px;text-align: center;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">            
            <i class="fa fa-envelope" style="font-size: 120px; color: #76b852;" aria-hidden="true"></i>
            <p><h1 style="color: black; font-family:Helvetica,arial,sans-serif;">Verify your email address</h1></p>
            <p style="margin: 15px 0 0;color: #838383;font-size: 14.5px;line-height:20px;font-family:Helvetica,arial,sans-serif;">Please confirm that you want to use this as your BeeSmart account email address.</p>
            <p style="margin: 15px 0 0;color: #838383;font-size: 14.5px;line-height:20px;font-family:Helvetica,arial,sans-serif;">Once it's done you will be able to start BeeSmart.</p>
            <div style="margin-top: 70px; margin-bottom: 80px"><a style="font-size: 20px;font-family:Helvetica,arial,sans-serif; background: #76b852;color: white;text-decoration: none;padding-left: 80px;padding-right: 80px;padding-top: 20px;padding-bottom: 20px;" href="#"><b>{{mainCode}}</b></a></div>
        </div>
    </div>
</div>